*.acn
*.lol
*.acr
*.alg
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz*
*.toc
*.vrb
*.xdy
*.tdo
*blx.bib
*.fls
*.equ

#
#dia
*.dia~

*.swp
*.swo
*latexmain
*.bcf
*.run.xml

comment.cut

tags

*eps-converted-to.pdf

# endfloat
*fff
*ttt

*.suppinfo

elife-latex-template/
__MACOSX

_minted*
